@import "tailwindcss";

@theme {
  --crypto-color-green: #1bbf9a;
  --crypto-color-gray: #d8e0e8;
  --crypto-color-yellow: #ecff8c;
  --crypto-color-black: #282828;
  --font-google: var(--font-google-sans);
}

body {
  font-family: var(--font-google), Arial, Helvetica, sans-serif;
}
