@import "tailwindcss";

@theme {
  --color-crypto-green: #1bbf9a;
  --color-crypto-gray: #EAEEEB;
  --color-crypto-yellow: #ecff8c;
  --color-crypto-black: #282828;
  --font-google: var(--font-google-sans);
}

body {
  font-family: var(--font-google), Arial, Helvetica, sans-serif;
}
