@import "tailwindcss";

@theme {
  --color-crypto-green: #1bbf9a;
  --color-crypto-gray: #EAEEEB;
  --color-crypto-yellow: #ecff8c;
  --color-crypto-yellow-100: #fbffe0;
  --color-crypto-yellow-200: #f6ffbf;
  --color-crypto-yellow-300: #f0ff9e;
  --color-crypto-yellow-400: #e9ff73;
  --color-crypto-yellow-500: #ecff8c; /* base */
  --color-crypto-yellow-600: #cfe05f;
  --color-crypto-yellow-700: #a8b640;
  --color-crypto-yellow-800: #7d8a2a;
  --color-crypto-yellow-900: #525e1a;
  --color-crypto-black: #282828;
  --color-crypto-black-100: #f2f2f2;
  --color-crypto-black-200: #d6d6d6;
  --color-crypto-black-300: #bfbfbf;
  --color-crypto-black-400: #8f8f8f;
  --color-crypto-black-500: #5f5f5f;
  --font-google: var(--font-google-sans);
}

body {
  font-family: var(--font-google), Arial, Helvetica, sans-serif;
}
